dist/checkout.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Virgin Experience Days</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<ul class="flex hidden-575">
								<li>
									<a href="about.html">About us</a>
								</li>
								<li>
									<a href="partnership.html">Partnership</a>
								</li>
								<li>
									<a href="help-center.html">Contact us</a>
								</li>
								<li>
									<a href="help-center.html">Help</a>
								</li>
							</ul>

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" data-toggle="dropdown">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<a class="logo" href="index.html">
								<img src="images/logo.svg">
							</a>

							<ul class="actions flex">
								<li>
									<a class="search-toggler" href="javascript:void(0)">
										<i class="icon-search"></i>
									</a>
								</li>
								<li>
									<a href="cart.html">
										<i class="icon-cart"></i>
										<span class="counter flex-center">6</span></a>
								</li>
								<li class="visible-1200">
									<a class="menu-toggler" href="javascript:void(0)">
										<i class="icon-bars"></i>
									</a>
								</li>
								<li class="hidden-1200">
									<div class="user">
										<div class="dropdown">
											<button class="dropdown-toggle" data-toggle="dropdown">
												<i class="icon-user"></i>
											</button>

											<div class="dropdown-menu">
												<a class="dropdown-item" href="account-orders.html">
													<svg width="14" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path class="hover-side" d="M13.2533 0.462449C12.9797 0.336381 12.6573 0.385438 12.4335 0.587114L11.2526 1.63272C11.2205 1.66131 11.172 1.66114 11.14 1.63238L9.53327 0.195293C9.24267 -0.0650978 8.80273 -0.0650978 8.51213 0.195293L6.90681 1.63106C6.87452 1.65991 6.82571 1.65991 6.79342 1.63106L5.18793 0.195293C4.89733 -0.0650552 4.45739 -0.0650552 4.16679 0.195293L2.55981 1.63238C2.52765 1.66114 2.47906 1.66127 2.44672 1.63268L1.26475 0.587114C0.951173 0.308257 0.470896 0.336381 0.19204 0.649956C0.0669924 0.790576 -0.00142414 0.972595 2.24804e-05 1.16074V16.8393C-0.00278566 17.2595 0.335638 17.6025 0.755922 17.6053C0.944195 17.6066 1.12621 17.538 1.26688 17.4129L2.44778 16.3673C2.47991 16.3387 2.52837 16.3389 2.56032 16.3676L4.16709 17.8047C4.45769 18.0651 4.89763 18.0651 5.18823 17.8047L6.79372 16.3689C6.82601 16.3401 6.87481 16.3401 6.90711 16.3689L8.5126 17.8047C8.80324 18.0649 9.24314 18.0649 9.53374 17.8047L11.1408 16.3676C11.173 16.3388 11.2216 16.3387 11.2539 16.3673L12.4359 17.4128C12.7496 17.6916 13.2298 17.6632 13.5085 17.3495C13.6334 17.209 13.7017 17.0272 13.7003 16.8393V1.16074C13.7043 0.859546 13.5285 0.584901 13.2533 0.462449Z" fill="#333"></path>
													</svg>My Orders
												</a>
												<a class="dropdown-item" href="javascript:void(0)">
													<svg width="19" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path class="hover-side" fill-rule="evenodd" clip-rule="evenodd" d="M10.5 10.4999C10.5 10.086 10.8353 9.74995 11.25 9.74995C11.6647 9.74995 12 10.086 12 10.4999V13.5C12 14.7405 10.9904 15.75 9.74995 15.75H7.49995V16.5C7.49995 17.3272 6.82732 18 6.00005 18C5.84019 18 5.68803 17.9775 5.53505 17.9302L1.02145 16.4257C0.408005 16.2127 0 15.6404 0 14.9999V1.49991C0 0.672638 0.672775 0 1.50005 0C1.52071 0 1.54067 0.0042733 1.56062 0.00854453C1.57608 0.0118532 1.59153 0.0151607 1.6073 0.0164795C1.61892 0.0149267 1.62986 0.0117845 1.64075 0.0086563C1.65587 0.00431459 1.6709 0 1.6875 0H9.74995C10.9904 0 12 1.00951 12 2.25V4.5C12 4.91391 11.6647 5.24995 11.25 5.24995C10.8353 5.24995 10.5 4.91391 10.5 4.5V2.25C10.5 1.83664 10.164 1.49991 9.74995 1.49991H6.25644L6.4785 1.5742C7.09195 1.7872 7.49995 2.35945 7.49995 2.99995V14.25H9.74995C10.164 14.25 10.5 13.9132 10.5 13.5V10.4999ZM14.7815 3.96976L17.7816 6.96971C18.0747 7.26291 18.0747 7.73697 17.7816 8.03017L14.7815 11.0303C14.5671 11.2446 14.2445 11.3092 13.9641 11.193C13.6843 11.0767 13.5013 10.803 13.5013 10.4999V8.2499H10.5013C10.0873 8.2499 9.75123 7.91399 9.75123 7.49994C9.75123 7.0859 10.0873 6.74999 10.5013 6.74999H13.5013V4.49999C13.5013 4.1969 13.6843 3.92321 13.9641 3.80689C14.2445 3.69071 14.5671 3.75525 14.7815 3.96976Z" fill="#333"></path>
													</svg>Sign Out
												</a>
											</div>
										</div>
									</div>
									<!-- User dropdown-->
								</li>
							</ul>
							<!-- Actions-->
						</div>
					</div>
				</div>

				<div class="search-block">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<form action="#" method="GET">
									<div class="form-group">
										<input class="form-control" type="text" name="search" placeholder="Search something" autocomplete="off">
									</div>

									<button class="close-search-block" type="button">
										<img src="images/icons/times-dark.svg">
									</button>
								</form>
							</div>
						</div>
					</div>

					<div class="search-results" visible-class="active">
						<div class="search-item flex">
							<div class="image">
								<a class="cover-center" href="category-inner.html" style="background-image: url(images/entertainments/image3.jpg)"></a>
							</div>
							<div class="info">
								<h3 class="title">
									<a href="category-inner">Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum</a>
								</h3>
								<div class="flex">
									<div class="location">
										<i class="icon-marker"></i>Baku, Quba
									</div>
									<div class="num-of-persons">
										<i class="icon-user"></i>for 2 persons
									</div>
								</div>
								<div class="price">
									<div class="old">185 AZN</div>
									<div class="current">120 AZN</div>
								</div>
							</div>
						</div>

						<div class="search-item flex">
							<div class="image">
								<a class="cover-center" href="category-inner.html" style="background-image: url(images/entertainments/image3.jpg)"></a>
							</div>
							<div class="info">
								<h3 class="title">
									<a href="category-inner">Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum</a>
								</h3>
								<div class="flex">
									<div class="location">
										<i class="icon-marker"></i>Baku, Quba
									</div>
									<div class="num-of-persons">
										<i class="icon-user"></i>for 2 persons
									</div>
								</div>
								<div class="price">
									<div class="old">185 AZN</div>
									<div class="current">120 AZN</div>
								</div>
							</div>
						</div>

						<div class="search-item flex">
							<div class="image">
								<a class="cover-center" href="category-inner.html" style="background-image: url(images/entertainments/image3.jpg)"></a>
							</div>
							<div class="info">
								<h3 class="title">
									<a href="category-inner">Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum</a>
								</h3>
								<div class="flex">
									<div class="location">
										<i class="icon-marker"></i>Baku, Quba
									</div>
									<div class="num-of-persons">
										<i class="icon-user"></i>for 2 persons
									</div>
								</div>
								<div class="price">
									<div class="old">185 AZN</div>
									<div class="current">120 AZN</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Search results-->
				</div>
				<!-- Search block-->
			</div>
			<!-- Header bottom-->

			<nav class="main-menu hidden-1200">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<ul class="flex">
								<li>
									<a href="category.html">Driving</a>
								</li>
								<li>
									<a href="category.html">Food and drink</a>
								</li>
								<li>
									<a href="category.html">Spa and Beauty</a>
								</li>
								<li>
									<a href="category.html">Days out and Tours</a>
								</li>
								<li>
									<a href="category.html">Flying</a>
								</li>
								<li>
									<a href="category.html">Sport</a>
								</li>
								<li>
									<a href="category.html">Theatre and events</a>
								</li>
								<li>
									<a href="category.html">Arts and crafts</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<!-- Main menu-->

			<nav class="mobile-menu visible-1200">
				<ul class="top-nav">
					<li>
						<a href="account-orders.html">
							<i class="icon-user"></i>My orders
						</a>
						<a href="javascript:void(0)">Sign out</a>
						<!-- If user logged in-->
					</li>
					<li>
						<a href="category.html">Driving</a>
					</li>
					<li>
						<a href="category.html">Food and drink</a>
					</li>
					<li>
						<a href="category.html">Spa and Beauty</a>
					</li>
					<li>
						<a href="category.html">Days out and Tours</a>
					</li>
					<li>
						<a href="category.html">Flying</a>
					</li>
					<li>
						<a href="category.html">Sport</a>
					</li>
					<li>
						<a href="category.html">Theatre and events</a>
					</li>
					<li>
						<a href="category.html">Arts and crafts</a>
					</li>
				</ul>
				<!-- Top nav-->

				<div class="menu-footer flex">
					<ul class="bottom-nav flex">
						<li>
							<a href="about.html">About us</a>
						</li>
						<li>
							<a href="partnership.html">Partnership</a>
						</li>
						<li>
							<a href="contact.html">Contact us</a>
						</li>
						<li>
							<a href="faq.html">Help center</a>
						</li>
					</ul>
					<!-- Bottom nav-->

					<ul class="socials flex">
						<li>
							<a href="#" target="_blank"><i class="icon-facebook"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icon-twitter"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icon-linkedin"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icon-youtube"></i></a>
						</li>
					</ul>

					<div class="copyrights flex">
						<p>© 2020. EUROTOURISM</p>

						<ul class="flex">
							<li>
								<a href="terms.html">Terms & Conditions</a>
							</li>
							<li>
								<a href="privacy.html">Privacy Policy</a>
							</li>
						</ul>
					</div>
					<!-- Copyrights-->
				</div>
				<!-- Menu footer-->
			</nav>
			<!-- Side menu-->
		</header>
		<!-- Header-->

		<div class="content-overlay"></div>
		<!-- For mobiles-->


		<main class="content">
			<div class="breadcrumb-container hidden-767">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<nav>
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="index.html">Home</a>
									</li>
									<li class="breadcrumb-item">Checkout</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Breadcrumbs-->

			<section class="cart-page checkout">
				<div class="container-fluid">
					<div class="row">
						<div class="left">
							<div class="white-panel payment-options">
								<div class="panel-header">
									<h3 class="panel-title">Delivery</h3>
									<p>Some information about you. We’ll send your order confirmation to these details.</p>
								</div>
								<!-- Panel header-->

								<div class="panel-body">
									<form action="#" method="POST">
										<div class="user-data">
											<p class="name">Farid Ismayilov</p>
											<p class="email">f.s.ismayilov@gmail.com</p>
											<p class="phone">+(994) 55 209 09 14</p>
										</div>
										<!-- User data-->

										<div class="options-group">
											<ul>
												<li>
													<input type="radio" id="standart" name="delivery" value="0">
													<label for="standart">Standard Delivery (+1.50 AZN)</label>

													<div class="hint" data-toggle="tooltip" title="Some hint">
														<i class="icon-hint"></i>
													</div>
												</li>
												<li>
													<input type="radio" id="next-day" name="delivery" value="1" checked>
													<label for="next-day">Next Day Delivery (+3.50 AZN)</label>

													<div class="hint" data-toggle="tooltip" title="Some hint">
														<i class="icon-hint"></i>
													</div>
												</li>
												<li>
													<input type="radio" id="email" name="delivery" value="2">
													<label for="email">Email Delivery with E-Vaucher (Free)</label>

													<div class="hint" data-toggle="tooltip" title="Some hint">
														<i class="icon-hint"></i>
													</div>
												</li>
											</ul>
										</div>
										<!-- Options group-->

										<div class="divider"></div>

										<h3 class="panel-title">Packaging</h3>
										<p>Some information about you. We’ll send your order confirmation to these details.</p>
										<div class="options-group">
											<ul>
												<li>
													<input type="radio" id="envelope" name="packaging" value="0">
													<label for="envelope">Envelope (+1.50 AZN)</label>

													<div class="hint" data-toggle="tooltip" title="Some hint">
														<i class="icon-hint"></i>
													</div>
												</li>
												<li>
													<input type="radio" id="gift" name="packaging" value="1" checked>
													<label for="gift">Gift Pack(+3.50 AZN)</label>

													<div class="hint" data-toggle="tooltip" title="Some hint">
														<i class="icon-hint"></i>
													</div>
												</li>
												<li>
													<input type="radio" id="premium" name="packaging" value="2">
													<label for="premium">Premium Gift Box (Free)</label>

													<div class="hint" data-toggle="tooltip" title="Some hint">
														<i class="icon-hint"></i>
													</div>
												</li>
											</ul>
										</div>
										<!-- Options group-->

										<div class="divider"></div>

										<h3 class="panel-title">Payment Options</h3>
										<p>Some information about you. We’ll send your order confirmation to these details.</p>
										<div class="accepted-payments">
											<div>
												<img src="images/icons/visa2.svg">
											</div>
											<div>
												<img src="images/icons/mastercard2.svg">
											</div>
										</div>

										<div class="options-group payment">
											<ul>
												<li>
													<input type="radio" id="with-cash" name="payment-option" value="0">
													<label for="with-cash">Pay with Cash</label>
												</li>
												<li>
													<input type="radio" id="with-cart" name="payment-option" value="1" checked>
													<label for="with-cart">Pay with Bank Card</label>
												</li>
											</ul>
										</div>
										<!-- Options group-->

										<div class="card-data">
											<div class="form-group">
												<label>Card number</label>
												<input class="form-control" type="text" value="1234 5678" required>
											</div>

											<div class="form-group">
												<label>Expiry date</label>
												<select class="custom-select" name="month" required>
													<option value hidden>MM</option>
													<option value="01">01</option>
													<option value="02">02</option>
													<option value="03">03</option>
													<option value="04">04</option>
													<option value="05">05</option>
													<option value="06">06</option>
													<option value="07">07</option>
													<option value="08">08</option>
													<option value="09">09</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
												</select>

												<select class="custom-select" name="month" required>
													<option value hidden>YYYY</option>
													<option value="2016">2016</option>
													<option value="2017">2017</option>
													<option value="2018">2018</option>
													<option value="2019">2019</option>
													<option value="2020">2020</option>
												</select>
											</div>

											<div class="form-group">
												<label>Name on card</label>
												<input class="form-control" type="text" name="number-on-card" required>
											</div>

											<div class="form-group flex cvv">
												<label>CVV</label>
												<input class="form-control" type="text" name="cvv" required>
												<img src="images/icons/plastic-card.svg">
											</div>
										</div>
										<!-- Card data-->

										<button class="btn-custom btn-block primary">Confirm & Pay</button>

										<p class="panel-info-text">By placing your order you agree to our <a href="terms.html" target="_blank">Terms & Conditions</a>, privacy and returns policies . You also consent to some of your data being stored by MyBrands, which may be used to make future shopping experiences better for you.</p>

										<div class="secure-page">
											<p class="flex"><i class="icon-lock"></i>This page is secure.</p>
											<p>All of your personal details are safe.</p>
											<p>© Experience Days 2020</p>
										</div>
										<!-- Page is secure-->
									</form>
								</div>
								<!-- Panel body-->
							</div>
							<!-- Panel (Payment options)-->
						</div>
						<!-- Left-->

						<div class="right">
							<div class="white-panel order-summary">
								<div class="panel-header">
									<h3 class="panel-title">Order Summary</h3>
									<p>You have 4 items in the basket</p>
								</div>
								<!-- Panel header-->

								<div class="panel-body">
									<div class="cart-item flat">
										<h3 class="title">
											<a href="category-inner.html">Handcraft with craft gerhod lorem ipsum dolor sit amet.</a>
										</h3>

										<div class="price">
											<p class="old">185 AZN | Save 45%</p>
											<p class="current">120 AZN</p>
										</div>

										<div class="item-params flex">
											<div class="param">
												<p>Qabala    </p>
											</div>
											<div class="param">
												<p>Person: 2</p>
											</div>
										</div>
									</div>

									<div class="divider"></div>

									<div class="cart-item flat">
										<h3 class="title">
											<a href="category-inner.html">Handcraft with craft gerhod lorem ipsum dolor sit amet.</a>
										</h3>

										<div class="price">
											<p class="old">185 AZN | Save 45%</p>
											<p class="current">120 AZN</p>
										</div>

										<div class="item-params flex">
											<div class="param">
												<p>Qabala</p>
											</div>
											<div class="param">
												<p>Person: 2</p>
											</div>
										</div>
									</div>

									<div class="divider"></div>

									<div class="subtotal flex">
										<p>Subtotal</p>
										<strong>120.00 AZN</strong>
									</div>
									<div class="subtotal flex">
										<p>Delivery</p>
										<strong>free</strong>
									</div>

									<div class="divider"></div>

									<div class="total flex">
										<p class="text-uppercase">Total</p>
										<strong>120.00 AZN</strong>
									</div>
								</div>
								<!-- Panel body-->
							</div>
							<!-- Order summary-->

							<div class="white-panel promocode">
								<div class="panel-body">
									<h3>Promo code</h3>

									<form>
										<div class="form-group">
											<input class="form-control" type="text" placeholder="564457" maxlength="6">
										</div>

										<button class="btn-custom btn-block primary">Apply </button>
									</form>
								</div>
							</div>
							<!-- Promocode-->

							<div class="help-block">
								<p class="title">
<a href="help.html">
<i class="icon-help-circle"></i>Need some help?</a>
                </p>
								<p>Give our friendly customer service team a call and they'll be happy to assist</p>
							</div>
							<!-- Help block-->
						</div>
						<!-- Right-->
					</div>
				</div>
			</section>
			<!-- Checkout page-->

		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<ul class="flex">
								<li>
									<a href="about.html">About us</a>
								</li>
								<li>
									<a href="partnership.html">Partnership</a>
								</li>
								<li>
									<a href="contact.html">Contact us</a>
								</li>
								<li>
									<a href="faq.html">Help center</a>
								</li>
							</ul>

							<ul class="socials flex">
								<li>
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-linkedin"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-youtube"></i></a>
								</li>
							</ul>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Top-->

			<div class="footer-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p class="copyrights">© 2020. EUROTOURISM</p>

							<ul class="flex">
								<li>
									<a href="terms.html">Terms & Conditions</a>
								</li>
								<li>
									<a href="privacy.html">Privacy Policy</a>
								</li>
							</ul>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer-->

		<script src="js/jquery.js"></script>
		<script src="js/range.min.js"></script>
		<script src="js/starrr.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>

src/pug/pages/checkout.pug
extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Checkout
    // Breadcrumbs
    |
    |
    section.cart-page.checkout
        .container-fluid
            .row
                .left
                    .white-panel.payment-options
                        .panel-header
                            h3.panel-title Delivery
                            p Some information about you. We’ll send your order confirmation to these details.
                        // Panel header
                        |
                        |
                        .panel-body
                            form(action="#" method="POST")
                                .user-data
                                    p.name Farid Ismayilov
                                    p.email f.s.ismayilov@gmail.com
                                    p.phone +(994) 55 209 09 14
                                // User data
                                |
                                |
                                .options-group
                                    ul
                                        li
                                            input(type="radio" id="standart" name="delivery" value="0")
                                            label(for="standart") Standard Delivery (+1.50 AZN)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                        li
                                            input(type="radio" id="next-day" name="delivery" value="1" checked)
                                            label(for="next-day") Next Day Delivery (+3.50 AZN)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                        li
                                            input(type="radio" id="email" name="delivery" value="2")
                                            label(for="email") Email Delivery with E-Vaucher (Free)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                // Options group
                                |
                                |
                                .divider
                                |
                                |
                                h3.panel-title Packaging
                                p Some information about you. We’ll send your order confirmation to these details.
                                .options-group
                                    ul
                                        li
                                            input(type="radio" id="envelope" name="packaging" value="0")
                                            label(for="envelope") Envelope (+1.50 AZN)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                        li
                                            input(type="radio" id="gift" name="packaging" value="1" checked)
                                            label(for="gift") Gift Pack(+3.50 AZN)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                        li
                                            input(type="radio" id="premium" name="packaging" value="2")
                                            label(for="premium") Premium Gift Box (Free)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                // Options group
                                |
                                |
                                .divider
                                |
                                |
                                h3.panel-title Payment Options
                                p Some information about you. We’ll send your order confirmation to these details.
                                .accepted-payments
                                    div
                                        ="\n"
                                        img(src=require("../../images/icons/visa2.svg"))
                                    div
                                        ="\n"
                                        img(src=require("../../images/icons/mastercard2.svg"))
                                |
                                |
                                .options-group.payment
                                    ul
                                        li
                                            input(type="radio" id="with-cash" name="payment-option" value="0")
                                            label(for="with-cash") Pay with Cash
                                        li
                                            input(type="radio" id="with-cart" name="payment-option" value="1" checked)
                                            label(for="with-cart") Pay with Bank Card
                                // Options group
                                |
                                |
                                .card-data
                                    .form-group
                                        label Card number
                                        input(type="text" class="form-control" value="1234 5678" required)
                                    |
                                    |
                                    .form-group
                                        label Expiry date
                                        select(name="month" class="custom-select" required)
                                            option(value hidden) MM
                                            option(value="01") 01
                                            option(value="02") 02
                                            option(value="03") 03
                                            option(value="04") 04
                                            option(value="05") 05
                                            option(value="06") 06
                                            option(value="07") 07
                                            option(value="08") 08
                                            option(value="09") 09
                                            option(value="10") 10
                                            option(value="11") 11
                                            option(value="12") 12
                                        |
                                        |
                                        select(name="month" class="custom-select" required)
                                            option(value hidden) YYYY
                                            option(value="2016") 2016
                                            option(value="2017") 2017
                                            option(value="2018") 2018
                                            option(value="2019") 2019
                                            option(value="2020") 2020
                                    |
                                    |
                                    .form-group
                                        label Name on card
                                        input(type="text" class="form-control" name="number-on-card" required)
                                    |
                                    |
                                    .form-group.flex.cvv
                                        label CVV
                                        input(type="text" class="form-control" name="cvv" required)
                                        |
                                        |
                                        img(src=require("../../images/icons/plastic-card.svg"))
                                // Card data
                                |
                                |
                                button(class="btn-custom btn-block primary") Confirm & Pay
                                |
                                |
                                p.panel-info-text By placing your order you agree to our #[a(href="terms.html" target="_blank") Terms & Conditions], privacy and returns policies . You also consent to some of your data being stored by MyBrands, which may be used to make future shopping experiences better for you.
                                |
                                |
                                .secure-page
                                    p.flex
                                        i.icon-lock
                                        | This page is secure.
                                    p All of your personal details are safe.
                                    p © Experience Days 2020
                                // Page is secure
                        // Panel body
                    // Panel (Payment options)
                // Left
                |
                |
                .right
                    .white-panel.order-summary
                        .panel-header
                            h3.panel-title Order Summary
                            p You have 4 items in the basket
                        // Panel header
                        |
                        |
                        .panel-body
                            .cart-item.flat
                                h3.title
                                    ="\n"
                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum dolor sit amet.
                                |
                                |
                                .price
                                    p.old 185 AZN | Save 45%
                                    p.current 120 AZN
                                |
                                |
                                .item-params.flex
                                    .param
                                        p Qabala    
                                    .param
                                        p Person: 2
                            |
                            |
                            .divider
                            |
                            |
                            .cart-item.flat
                                h3.title
                                    ="\n"
                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum dolor sit amet.
                                |
                                |
                                .price
                                    p.old 185 AZN | Save 45%
                                    p.current 120 AZN
                                |
                                |
                                .item-params.flex
                                    .param
                                        p Qabala
                                    .param
                                        p Person: 2
                            |
                            |
                            .divider
                            |
                            |
                            .subtotal.flex
                                p Subtotal
                                ="\n"
                                strong 120.00 AZN
                            .subtotal.flex
                                p Delivery
                                ="\n"
                                strong free
                            |
                            |
                            .divider
                            |
                            |
                            .total.flex
                                p.text-uppercase Total
                                ="\n"
                                strong 120.00 AZN
                        // Panel body
                    // Order summary
                    |
                    |
                    .white-panel.promocode
                        .panel-body
                            h3 Promo code
                            |
                            |
                            form
                                .form-group
                                    input(type="text" class="form-control" placeholder="564457" maxlength="6")
                                |
                                |
                                button(class="btn-custom btn-block primary") Apply 
                    // Promocode
                    |
                    |
                    .help-block
                        p.title
                            ="\n"
                            a(href="help.html")
                                ="\n"
                                i.icon-help-circle
                                | Need some help?
                        p Give our friendly customer service team a call and they'll be happy to assist
                    // Help block
                // Right
    // Checkout page
    |
    |
