src/pug/pages/help-center.pug
extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Help Center / FAQ
    // Breadcrumbs
    |
    |
    section.static.help-center
        .container-fluid
            .row
                .col-xl-9
                    h1.block-title Help Center / FAQ
                    |
                    |
                    .editor-body
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                    |
                    |
                    .contact-info
                        .row
                            .col-lg-3.col-sm-4
                                .info-item
                                    p For Corporate Clients
                                    a(href="tel:") +994 (55) 700-43-43
                            // Col
                            .col-lg-3.col-sm-4
                                .info-item
                                    p Online Store
                                    a(href="tel:") +994 (55) 700-43-43
                            // Col
                            .col-lg-3.col-sm-4
                                .info-item
                                    p Support Center
                                    a(href="tel:") +994 (55) 700-43-43
                            // Col
                            .col-lg-3.col-sm-4
                                .info-item
                                    p Support Center
                                    a(href="mailto:") shop@example.az
                                    a(href="mailto:") office@example.az
                            // Col
                    // Contact info
                    |
                    |
                    .divider
        |
        |
        .faq-section
            .container-fluid
                .row
                    .col-12
                        h2.block-title FAQ
                    // col
                    |
                    |
                    .col-lg-3.col-md-4
                        ul.sidebar-list
                            li.active
                                ="\n"
                                a(href="account-orders.html")
                                    svg(width="14" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M13.2533 0.462449C12.9797 0.336381 12.6573 0.385438 12.4335 0.587114L11.2526 1.63272C11.2205 1.66131 11.172 1.66114 11.14 1.63238L9.53327 0.195293C9.24267 -0.0650978 8.80273 -0.0650978 8.51213 0.195293L6.90681 1.63106C6.87452 1.65991 6.82571 1.65991 6.79342 1.63106L5.18793 0.195293C4.89733 -0.0650552 4.45739 -0.0650552 4.16679 0.195293L2.55981 1.63238C2.52765 1.66114 2.47906 1.66127 2.44672 1.63268L1.26475 0.587114C0.951173 0.308257 0.470896 0.336381 0.19204 0.649956C0.0669924 0.790576 -0.00142414 0.972595 2.24804e-05 1.16074V16.8393C-0.00278566 17.2595 0.335638 17.6025 0.755922 17.6053C0.944195 17.6066 1.12621 17.538 1.26688 17.4129L2.44778 16.3673C2.47991 16.3387 2.52837 16.3389 2.56032 16.3676L4.16709 17.8047C4.45769 18.0651 4.89763 18.0651 5.18823 17.8047L6.79372 16.3689C6.82601 16.3401 6.87481 16.3401 6.90711 16.3689L8.5126 17.8047C8.80324 18.0649 9.24314 18.0649 9.53374 17.8047L11.1408 16.3676C11.173 16.3388 11.2216 16.3387 11.2539 16.3673L12.4359 17.4128C12.7496 17.6916 13.2298 17.6632 13.5085 17.3495C13.6334 17.209 13.7017 17.0272 13.7003 16.8393V1.16074C13.7043 0.859546 13.5285 0.584901 13.2533 0.462449Z" fill="#333" class="hover-side")
                                    | General
                                    ="\n"
                            li
                                ="\n"
                                a(href="account-user-details.html")
                                    svg(width="21" height="20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M10 0C7.41531 0 5.3125 2.10281 5.3125 4.6875C5.3125 5.57388 5.56137 6.43738 6.03241 7.1846L10 13.5156L13.9676 7.1846C14.4386 6.43738 14.6875 5.57388 14.6875 4.6875C14.6875 2.10281 12.5847 0 10 0ZM10 7.61719C8.3847 7.61719 7.07031 6.3028 7.07031 4.6875C7.07031 3.0722 8.3847 1.75781 10 1.75781C11.6153 1.75781 12.9297 3.0722 12.9297 4.6875C12.9297 6.3028 11.6153 7.61719 10 7.61719ZM10 2.92969C9.03076 2.92969 8.24219 3.71826 8.24219 4.6875C8.24219 5.65674 9.03076 6.44531 10 6.44531C10.9692 6.44531 11.7578 5.65674 11.7578 4.6875C11.7578 3.71826 10.9692 2.92969 10 2.92969ZM6.50568 16.4453L6.9928 11.7578H3.41797L1.5 16.5L0 20H5.5H5.96741H14.0347H15H20.0031L18.5 16.5L16.5808 11.7578H12.9785L13.494 16.4453H6.50568Z" fill="#333" class="hover-side")
                                    | Delivery
                                    ="\n"
                            li
                                ="\n"
                                a(href="help-center.html")
                                    svg(width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M15.364 2.63603C13.6641 0.936172 11.4039 0 9 0C6.59605 0 4.33589 0.936172 2.63603 2.63603C0.936172 4.33589 0 6.59605 0 9C0 11.4041 0.936172 13.6641 2.63603 15.364C4.33589 17.0638 6.59605 18 9 18C11.4039 18 13.6641 17.0638 15.364 15.364C17.0638 13.6641 18 11.4041 18 9C18 6.59605 17.0638 4.33589 15.364 2.63603ZM12.8927 11.6496C13.2359 11.993 13.2359 12.5494 12.8927 12.8926C12.7211 13.0643 12.4961 13.1501 12.2712 13.1501C12.0462 13.1501 11.8213 13.0643 11.6496 12.8926L9 10.243L6.35037 12.8927C6.17871 13.0643 5.95377 13.1501 5.72882 13.1501C5.50388 13.1501 5.27893 13.0643 5.10727 12.8927C4.76408 12.5494 4.76408 11.993 5.10727 11.6498L7.75703 9L5.10727 6.35037C4.76408 6.00705 4.76408 5.45059 5.10727 5.10741C5.45059 4.76408 6.00705 4.76408 6.35023 5.10741L9 7.75703L11.6496 5.10741C11.993 4.76422 12.5494 4.76408 12.8926 5.10741C13.2359 5.45059 13.2359 6.00705 12.8926 6.35037L10.243 9L12.8927 11.6496Z" fill="#333" class="hover-side")
                                    | Cancellation
                                    ="\n"
                            li
                                ="\n"
                                a(href="delivery.html")
                                    svg(width="20" height="14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(width="20" height="14" rx="2" fill="#333" class="hover-side")
                                        rect(x="3" y="3" width="4" height="4" rx="1" fill="#fff")
                                        line(x1="3.75" y1="10.25" x2="16.25" y2="10.25" stroke="#fff" stroke-width="1.5" stroke-linecap="round")
                                    | Payment
                                    ="\n"
                    // Col
                    |
                    |
                    .col-lg-9.col-md-8
                        ul(class="faq-questions")
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question0") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question0")
                                    .faq-answer
                                        p The key trading terms can be found in the trader's glossary.
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question1") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question1")
                                    .faq-answer
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero perferendis commodi exercitationem qui porro asperiores cumque quo, rerum quod libero illum, error consequuntur excepturi!
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question2") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question2")
                                    .faq-answer
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, eveniet! Nostrum explicabo fuga praesentium, amet autem nesciunt corporis. Nostrum, voluptatem ullam. Necessitatibus, doloremque modi? Velit nemo nobis cupiditate odit exercitationem?
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question3") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question3")
                                    .faq-answer
                                        p The key trading terms can be found in the trader's glossary.
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question4") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question4")
                                    .faq-answer
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero perferendis commodi exercitationem qui porro asperiores cumque quo, rerum quod libero illum, error consequuntur excepturi!
                    // Col
        // Faq section
    // Help center page
    |
    |

dist/help-center.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Virgin Experience Days</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<ul class="flex hidden-575">
								<li>
									<a href="about.html">About us</a>
								</li>
								<li>
									<a href="partnership.html">Partnership</a>
								</li>
								<li>
									<a href="help-center.html">Contact us</a>
								</li>
								<li>
									<a href="help-center.html">Help</a>
								</li>
							</ul>

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" data-toggle="dropdown">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<a class="logo" href="index.html">
								<img src="images/logo.svg">
							</a>

							<ul class="actions flex">
								<li>
									<a class="search-toggler" href="javascript:void(0)">
										<i class="icon-search"></i>
									</a>
								</li>
								<li>
									<a href="cart.html">
										<i class="icon-cart"></i>
										<span class="counter flex-center">6</span></a>
								</li>
								<li class="visible-1200">
									<a class="menu-toggler" href="javascript:void(0)">
										<i class="icon-bars"></i>
									</a>
								</li>
								<li class="hidden-1200">
									<div class="user">
										<div class="dropdown">
											<button class="dropdown-toggle" data-toggle="dropdown">
												<i class="icon-user"></i>
											</button>

											<div class="dropdown-menu">
												<a class="dropdown-item" href="account-orders.html">
													<svg width="14" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path class="hover-side" d="M13.2533 0.462449C12.9797 0.336381 12.6573 0.385438 12.4335 0.587114L11.2526 1.63272C11.2205 1.66131 11.172 1.66114 11.14 1.63238L9.53327 0.195293C9.24267 -0.0650978 8.80273 -0.0650978 8.51213 0.195293L6.90681 1.63106C6.87452 1.65991 6.82571 1.65991 6.79342 1.63106L5.18793 0.195293C4.89733 -0.0650552 4.45739 -0.0650552 4.16679 0.195293L2.55981 1.63238C2.52765 1.66114 2.47906 1.66127 2.44672 1.63268L1.26475 0.587114C0.951173 0.308257 0.470896 0.336381 0.19204 0.649956C0.0669924 0.790576 -0.00142414 0.972595 2.24804e-05 1.16074V16.8393C-0.00278566 17.2595 0.335638 17.6025 0.755922 17.6053C0.944195 17.6066 1.12621 17.538 1.26688 17.4129L2.44778 16.3673C2.47991 16.3387 2.52837 16.3389 2.56032 16.3676L4.16709 17.8047C4.45769 18.0651 4.89763 18.0651 5.18823 17.8047L6.79372 16.3689C6.82601 16.3401 6.87481 16.3401 6.90711 16.3689L8.5126 17.8047C8.80324 18.0649 9.24314 18.0649 9.53374 17.8047L11.1408 16.3676C11.173 16.3388 11.2216 16.3387 11.2539 16.3673L12.4359 17.4128C12.7496 17.6916 13.2298 17.6632 13.5085 17.3495C13.6334 17.209 13.7017 17.0272 13.7003 16.8393V1.16074C13.7043 0.859546 13.5285 0.584901 13.2533 0.462449Z" fill="#333"></path>
													</svg>My Orders
												</a>
												<a class="dropdown-item" href="javascript:void(0)">
													<svg width="19" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path class="hover-side" fill-rule="evenodd" clip-rule="evenodd" d="M10.5 10.4999C10.5 10.086 10.8353 9.74995 11.25 9.74995C11.6647 9.74995 12 10.086 12 10.4999V13.5C12 14.7405 10.9904 15.75 9.74995 15.75H7.49995V16.5C7.49995 17.3272 6.82732 18 6.00005 18C5.84019 18 5.68803 17.9775 5.53505 17.9302L1.02145 16.4257C0.408005 16.2127 0 15.6404 0 14.9999V1.49991C0 0.672638 0.672775 0 1.50005 0C1.52071 0 1.54067 0.0042733 1.56062 0.00854453C1.57608 0.0118532 1.59153 0.0151607 1.6073 0.0164795C1.61892 0.0149267 1.62986 0.0117845 1.64075 0.0086563C1.65587 0.00431459 1.6709 0 1.6875 0H9.74995C10.9904 0 12 1.00951 12 2.25V4.5C12 4.91391 11.6647 5.24995 11.25 5.24995C10.8353 5.24995 10.5 4.91391 10.5 4.5V2.25C10.5 1.83664 10.164 1.49991 9.74995 1.49991H6.25644L6.4785 1.5742C7.09195 1.7872 7.49995 2.35945 7.49995 2.99995V14.25H9.74995C10.164 14.25 10.5 13.9132 10.5 13.5V10.4999ZM14.7815 3.96976L17.7816 6.96971C18.0747 7.26291 18.0747 7.73697 17.7816 8.03017L14.7815 11.0303C14.5671 11.2446 14.2445 11.3092 13.9641 11.193C13.6843 11.0767 13.5013 10.803 13.5013 10.4999V8.2499H10.5013C10.0873 8.2499 9.75123 7.91399 9.75123 7.49994C9.75123 7.0859 10.0873 6.74999 10.5013 6.74999H13.5013V4.49999C13.5013 4.1969 13.6843 3.92321 13.9641 3.80689C14.2445 3.69071 14.5671 3.75525 14.7815 3.96976Z" fill="#333"></path>
													</svg>Sign Out
												</a>
											</div>
										</div>
									</div>
									<!-- User dropdown-->
								</li>
							</ul>
							<!-- Actions-->
						</div>
					</div>
				</div>

				<div class="search-block">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<form action="#" method="GET">
									<div class="form-group">
										<input class="form-control" type="text" name="search" placeholder="Search something" autocomplete="off">
									</div>

									<button class="close-search-block" type="button">
										<img src="images/icons/times-dark.svg">
									</button>
								</form>
							</div>
						</div>
					</div>

					<div class="search-results" visible-class="active">
						<div class="search-item flex">
							<div class="image">
								<a class="cover-center" href="category-inner.html" style="background-image: url(images/entertainments/image3.jpg)"></a>
							</div>
							<div class="info">
								<h3 class="title">
									<a href="category-inner">Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum</a>
								</h3>
								<div class="flex">
									<div class="location">
										<i class="icon-marker"></i>Baku, Quba
									</div>
									<div class="num-of-persons">
										<i class="icon-user"></i>for 2 persons
									</div>
								</div>
								<div class="price">
									<div class="old">185 AZN</div>
									<div class="current">120 AZN</div>
								</div>
							</div>
						</div>

						<div class="search-item flex">
							<div class="image">
								<a class="cover-center" href="category-inner.html" style="background-image: url(images/entertainments/image3.jpg)"></a>
							</div>
							<div class="info">
								<h3 class="title">
									<a href="category-inner">Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum</a>
								</h3>
								<div class="flex">
									<div class="location">
										<i class="icon-marker"></i>Baku, Quba
									</div>
									<div class="num-of-persons">
										<i class="icon-user"></i>for 2 persons
									</div>
								</div>
								<div class="price">
									<div class="old">185 AZN</div>
									<div class="current">120 AZN</div>
								</div>
							</div>
						</div>

						<div class="search-item flex">
							<div class="image">
								<a class="cover-center" href="category-inner.html" style="background-image: url(images/entertainments/image3.jpg)"></a>
							</div>
							<div class="info">
								<h3 class="title">
									<a href="category-inner">Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum</a>
								</h3>
								<div class="flex">
									<div class="location">
										<i class="icon-marker"></i>Baku, Quba
									</div>
									<div class="num-of-persons">
										<i class="icon-user"></i>for 2 persons
									</div>
								</div>
								<div class="price">
									<div class="old">185 AZN</div>
									<div class="current">120 AZN</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Search results-->
				</div>
				<!-- Search block-->
			</div>
			<!-- Header bottom-->

			<nav class="main-menu hidden-1200">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<ul class="flex">
								<li>
									<a href="category.html">Driving</a>
								</li>
								<li>
									<a href="category.html">Food and drink</a>
								</li>
								<li>
									<a href="category.html">Spa and Beauty</a>
								</li>
								<li>
									<a href="category.html">Days out and Tours</a>
								</li>
								<li>
									<a href="category.html">Flying</a>
								</li>
								<li>
									<a href="category.html">Sport</a>
								</li>
								<li>
									<a href="category.html">Theatre and events</a>
								</li>
								<li>
									<a href="category.html">Arts and crafts</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<!-- Main menu-->

			<nav class="mobile-menu visible-1200">
				<ul class="top-nav">
					<li>
						<a href="account-orders.html">
							<i class="icon-user"></i>My orders
						</a>
						<a href="javascript:void(0)">Sign out</a>
						<!-- If user logged in-->
					</li>
					<li>
						<a href="category.html">Driving</a>
					</li>
					<li>
						<a href="category.html">Food and drink</a>
					</li>
					<li>
						<a href="category.html">Spa and Beauty</a>
					</li>
					<li>
						<a href="category.html">Days out and Tours</a>
					</li>
					<li>
						<a href="category.html">Flying</a>
					</li>
					<li>
						<a href="category.html">Sport</a>
					</li>
					<li>
						<a href="category.html">Theatre and events</a>
					</li>
					<li>
						<a href="category.html">Arts and crafts</a>
					</li>
				</ul>
				<!-- Top nav-->

				<div class="menu-footer flex">
					<ul class="bottom-nav flex">
						<li>
							<a href="about.html">About us</a>
						</li>
						<li>
							<a href="partnership.html">Partnership</a>
						</li>
						<li>
							<a href="contact.html">Contact us</a>
						</li>
						<li>
							<a href="faq.html">Help center</a>
						</li>
					</ul>
					<!-- Bottom nav-->

					<ul class="socials flex">
						<li>
							<a href="#" target="_blank"><i class="icon-facebook"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icon-twitter"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icon-linkedin"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icon-youtube"></i></a>
						</li>
					</ul>

					<div class="copyrights flex">
						<p>© 2020. EUROTOURISM</p>

						<ul class="flex">
							<li>
								<a href="terms.html">Terms & Conditions</a>
							</li>
							<li>
								<a href="privacy.html">Privacy Policy</a>
							</li>
						</ul>
					</div>
					<!-- Copyrights-->
				</div>
				<!-- Menu footer-->
			</nav>
			<!-- Side menu-->
		</header>
		<!-- Header-->

		<div class="content-overlay"></div>
		<!-- For mobiles-->


		<main class="content">
			<div class="breadcrumb-container hidden-767">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<nav>
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="index.html">Home</a>
									</li>
									<li class="breadcrumb-item">Help Center / FAQ</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Breadcrumbs-->

			<section class="static help-center">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-9">
							<h1 class="block-title">Help Center / FAQ</h1>

							<div class="editor-body">
								<p>Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.</p>
							</div>

							<div class="contact-info">
								<div class="row">
									<div class="col-lg-3 col-sm-4">
										<div class="info-item">
											<p>For Corporate Clients</p><a href="tel:">+994 (55) 700-43-43</a>
										</div>
									</div>
									<!-- Col-->
									<div class="col-lg-3 col-sm-4">
										<div class="info-item">
											<p>Online Store</p><a href="tel:">+994 (55) 700-43-43</a>
										</div>
									</div>
									<!-- Col-->
									<div class="col-lg-3 col-sm-4">
										<div class="info-item">
											<p>Support Center</p><a href="tel:">+994 (55) 700-43-43</a>
										</div>
									</div>
									<!-- Col-->
									<div class="col-lg-3 col-sm-4">
										<div class="info-item">
											<p>Support Center</p><a href="mailto:">shop@example.az</a><a href="mailto:">office@example.az</a>
										</div>
									</div>
									<!-- Col-->
								</div>
							</div>
							<!-- Contact info-->

							<div class="divider"></div>
						</div>
					</div>
				</div>

				<div class="faq-section">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<h2 class="block-title">FAQ</h2>
							</div>
							<!-- col-->

							<div class="col-lg-3 col-md-4">
								<ul class="sidebar-list">
									<li class="active">
										<a href="account-orders.html">
											<svg width="14" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path class="hover-side" d="M13.2533 0.462449C12.9797 0.336381 12.6573 0.385438 12.4335 0.587114L11.2526 1.63272C11.2205 1.66131 11.172 1.66114 11.14 1.63238L9.53327 0.195293C9.24267 -0.0650978 8.80273 -0.0650978 8.51213 0.195293L6.90681 1.63106C6.87452 1.65991 6.82571 1.65991 6.79342 1.63106L5.18793 0.195293C4.89733 -0.0650552 4.45739 -0.0650552 4.16679 0.195293L2.55981 1.63238C2.52765 1.66114 2.47906 1.66127 2.44672 1.63268L1.26475 0.587114C0.951173 0.308257 0.470896 0.336381 0.19204 0.649956C0.0669924 0.790576 -0.00142414 0.972595 2.24804e-05 1.16074V16.8393C-0.00278566 17.2595 0.335638 17.6025 0.755922 17.6053C0.944195 17.6066 1.12621 17.538 1.26688 17.4129L2.44778 16.3673C2.47991 16.3387 2.52837 16.3389 2.56032 16.3676L4.16709 17.8047C4.45769 18.0651 4.89763 18.0651 5.18823 17.8047L6.79372 16.3689C6.82601 16.3401 6.87481 16.3401 6.90711 16.3689L8.5126 17.8047C8.80324 18.0649 9.24314 18.0649 9.53374 17.8047L11.1408 16.3676C11.173 16.3388 11.2216 16.3387 11.2539 16.3673L12.4359 17.4128C12.7496 17.6916 13.2298 17.6632 13.5085 17.3495C13.6334 17.209 13.7017 17.0272 13.7003 16.8393V1.16074C13.7043 0.859546 13.5285 0.584901 13.2533 0.462449Z" fill="#333"></path>
											</svg>General
										</a>
									</li>
									<li>
										<a href="account-user-details.html">
											<svg width="21" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path class="hover-side" fill-rule="evenodd" clip-rule="evenodd" d="M10 0C7.41531 0 5.3125 2.10281 5.3125 4.6875C5.3125 5.57388 5.56137 6.43738 6.03241 7.1846L10 13.5156L13.9676 7.1846C14.4386 6.43738 14.6875 5.57388 14.6875 4.6875C14.6875 2.10281 12.5847 0 10 0ZM10 7.61719C8.3847 7.61719 7.07031 6.3028 7.07031 4.6875C7.07031 3.0722 8.3847 1.75781 10 1.75781C11.6153 1.75781 12.9297 3.0722 12.9297 4.6875C12.9297 6.3028 11.6153 7.61719 10 7.61719ZM10 2.92969C9.03076 2.92969 8.24219 3.71826 8.24219 4.6875C8.24219 5.65674 9.03076 6.44531 10 6.44531C10.9692 6.44531 11.7578 5.65674 11.7578 4.6875C11.7578 3.71826 10.9692 2.92969 10 2.92969ZM6.50568 16.4453L6.9928 11.7578H3.41797L1.5 16.5L0 20H5.5H5.96741H14.0347H15H20.0031L18.5 16.5L16.5808 11.7578H12.9785L13.494 16.4453H6.50568Z" fill="#333"></path>
											</svg>Delivery
										</a>
									</li>
									<li>
										<a href="help-center.html">
											<svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path class="hover-side" d="M15.364 2.63603C13.6641 0.936172 11.4039 0 9 0C6.59605 0 4.33589 0.936172 2.63603 2.63603C0.936172 4.33589 0 6.59605 0 9C0 11.4041 0.936172 13.6641 2.63603 15.364C4.33589 17.0638 6.59605 18 9 18C11.4039 18 13.6641 17.0638 15.364 15.364C17.0638 13.6641 18 11.4041 18 9C18 6.59605 17.0638 4.33589 15.364 2.63603ZM12.8927 11.6496C13.2359 11.993 13.2359 12.5494 12.8927 12.8926C12.7211 13.0643 12.4961 13.1501 12.2712 13.1501C12.0462 13.1501 11.8213 13.0643 11.6496 12.8926L9 10.243L6.35037 12.8927C6.17871 13.0643 5.95377 13.1501 5.72882 13.1501C5.50388 13.1501 5.27893 13.0643 5.10727 12.8927C4.76408 12.5494 4.76408 11.993 5.10727 11.6498L7.75703 9L5.10727 6.35037C4.76408 6.00705 4.76408 5.45059 5.10727 5.10741C5.45059 4.76408 6.00705 4.76408 6.35023 5.10741L9 7.75703L11.6496 5.10741C11.993 4.76422 12.5494 4.76408 12.8926 5.10741C13.2359 5.45059 13.2359 6.00705 12.8926 6.35037L10.243 9L12.8927 11.6496Z" fill="#333"></path>
											</svg>Cancellation
										</a>
									</li>
									<li>
										<a href="delivery.html">
											<svg width="20" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect class="hover-side" width="20" height="14" rx="2" fill="#333"></rect>
												<rect x="3" y="3" width="4" height="4" rx="1" fill="#fff"></rect>
												<line x1="3.75" y1="10.25" x2="16.25" y2="10.25" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></line>
											</svg>Payment
										</a>
									</li>
								</ul>
							</div>
							<!-- Col-->

							<div class="col-lg-9 col-md-8">
								<ul class="faq-questions">
									<li>
										<a data-toggle="collapse" href="#question0">Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?</a>

										<div class="collapse" id="question0">
											<div class="faq-answer">
												<p>The key trading terms can be found in the trader's glossary.</p>
											</div>
										</div>
									</li>
									<li>
										<a data-toggle="collapse" href="#question1">Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?</a>

										<div class="collapse" id="question1">
											<div class="faq-answer">
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero perferendis commodi exercitationem qui porro asperiores cumque quo, rerum quod libero illum, error consequuntur excepturi!</p>
											</div>
										</div>
									</li>
									<li>
										<a data-toggle="collapse" href="#question2">Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?</a>

										<div class="collapse" id="question2">
											<div class="faq-answer">
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, eveniet! Nostrum explicabo fuga praesentium, amet autem nesciunt corporis. Nostrum, voluptatem ullam. Necessitatibus, doloremque modi? Velit nemo nobis cupiditate odit exercitationem?</p>
											</div>
										</div>
									</li>
									<li>
										<a data-toggle="collapse" href="#question3">Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?</a>

										<div class="collapse" id="question3">
											<div class="faq-answer">
												<p>The key trading terms can be found in the trader's glossary.</p>
											</div>
										</div>
									</li>
									<li>
										<a data-toggle="collapse" href="#question4">Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?</a>

										<div class="collapse" id="question4">
											<div class="faq-answer">
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero perferendis commodi exercitationem qui porro asperiores cumque quo, rerum quod libero illum, error consequuntur excepturi!</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- Col-->
						</div>
					</div>
				</div>
				<!-- Faq section-->
			</section>
			<!-- Help center page-->

		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<ul class="flex">
								<li>
									<a href="about.html">About us</a>
								</li>
								<li>
									<a href="partnership.html">Partnership</a>
								</li>
								<li>
									<a href="contact.html">Contact us</a>
								</li>
								<li>
									<a href="faq.html">Help center</a>
								</li>
							</ul>

							<ul class="socials flex">
								<li>
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-linkedin"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-youtube"></i></a>
								</li>
							</ul>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Top-->

			<div class="footer-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p class="copyrights">© 2020. EUROTOURISM</p>

							<ul class="flex">
								<li>
									<a href="terms.html">Terms & Conditions</a>
								</li>
								<li>
									<a href="privacy.html">Privacy Policy</a>
								</li>
							</ul>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer-->

		<script src="js/jquery.js"></script>
		<script src="js/range.min.js"></script>
		<script src="js/starrr.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
