dist/login.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Virgin Experience Days</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<ul class="flex hidden-575">
								<li>
									<a href="about.html">About us</a>
								</li>
								<li>
									<a href="partnership.html">Partnership</a>
								</li>
								<li>
									<a href="help-center.html">Contact us</a>
								</li>
								<li>
									<a href="help-center.html">Help</a>
								</li>
							</ul>

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" data-toggle="dropdown">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->
		</header>
		<!-- Header-->


		<main class="content">
			<section class="auth-page">
				<div class="logo">
					<a href="index.html">
						<img src="images/logo.svg">
					</a>
				</div>

				<div class="auth-wrapper">
					<ul class="nav flex">
						<li>
							<a href="register.html">Register</a>
						</li>
						<li class="active">
							<a href="login.html">Sign in</a>
						</li>
					</ul>

					<div class="auth-content">
						<h2 class="auth-title">Sign In with email</h2>

						<form action="#" method="POST">
							<div class="form-group">
								<label>E-mail</label>
								<input class="form-control" type="email" required>
							</div>

							<div class="form-group">
								<label>Password</label>
								<input class="form-control" type="password" required>
							</div>

							<button class="btn-custom btn-block primary">Sign In</button>

							<div class="forgot-password text-right"><a href="forgot-password.html">Forgot password?</a></div>
						</form>
						<!-- Form-->

						<div class="auth-with-socials flex">
							<h2 class="auth-title">Sign In with</h2>

							<a href="#"><img src="images/icons/auth-google.svg">Google</a>
							<a href="#"><img src="images/icons/auth-facebook.svg">Facebook</a>
						</div>
						<!-- Auth With Socials-->
					</div>
				</div>
			</section>
			<!-- Auth page-->

		</main>

		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>

src/pug/pages/login.pug
extends ../layout/simple-layout.pug

block content
    section.auth-page
        .logo
            ="\n"
            a(href="index.html")
                ="\n"
                img(src=require("../../images/logo.svg"))
                ="\n"
        |
        |
        .auth-wrapper
            ul.nav.flex
                li
                    ="\n"
                    a(href="register.html") Register
                li.active
                    ="\n"
                    a(href="login.html") Sign in
            |
            |
            .auth-content
                h2.auth-title Sign In with email
                |
                |
                form(action="#" method="POST")
                    .form-group
                        label E-mail
                        input(type="email" class="form-control" required)
                    |
                    |
                    .form-group
                        label Password
                        input(type="password" class="form-control" required)
                    |
                    |
                    button(class="btn-custom btn-block primary") Sign In
                    |
                    |
                    div.forgot-password.text-right
                        a(href="forgot-password.html") Forgot password?
                // Form
                |
                |
                .auth-with-socials.flex
                    h2.auth-title Sign In with
                    |
                    |
                    ="\n"
                    a(href="#")
                        img(src=require("../../images/icons/auth-google.svg"))
                        | Google
                    ="\n"
                    a(href="#")
                        img(src=require("../../images/icons/auth-facebook.svg"))
                        | Facebook
                // Auth With Socials
    // Auth page
    |
    |
