src/pug/pages/partnership.pug
extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Partnership
    // Breadcrumbs
    |
    |
    section.static.partnership
        .container-fluid
            .row
                .col-xl-9
                    h1.block-title Partnership
                    |
                    |
                    .editor-body
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                        p
                            strong The standard Lorem Ipsum passage, used since the 1500s
                        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    |
                    |
                    .divider
                    |
                    |
                    .contact-form
                        h2.title Send Us A Message
                        |
                        |
                        form(action="#" method="POST")
                            .form-group
                                label Firstname
                                input.form-control(type="text" required)
                            |
                            |
                            .form-group
                                label Lastname
                                input.form-control(type="text" required)
                            |
                            |
                            .form-group
                                label Mobile number
                                input.form-control(type="text" required)
                            |
                            |
                            .form-group
                                label Company name
                                input.form-control(type="text" required)
                            |
                            |
                            .form-group
                                label Message
                                textarea.form-control(rows="7" required)
                            |
                            |
                            p.info-text By creating your account, you agree to our #[a(href="terms.html") Terms and Conditions] & #[a(href="privacy.html") Privacy Policy]
                            |
                            |
                            button(class="btn-custom primary") Send us a message
                    // Contact form
    // Partnership page
    |
    |

dist/partnership.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Virgin Experience Days</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<ul class="flex hidden-575">
								<li>
									<a href="about.html">About us</a>
								</li>
								<li>
									<a href="partnership.html">Partnership</a>
								</li>
								<li>
									<a href="help-center.html">Contact us</a>
								</li>
								<li>
									<a href="help-center.html">Help</a>
								</li>
							</ul>

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" data-toggle="dropdown">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<a class="logo" href="index.html">
								<img src="images/logo.svg">
							</a>

							<ul class="actions flex">
								<li>
									<a class="search-toggler" href="javascript:void(0)">
										<i class="icon-search"></i>
									</a>
								</li>
								<li>
									<a href="cart.html">
										<i class="icon-cart"></i>
										<span class="counter flex-center">6</span></a>
								</li>
								<li class="visible-1200">
									<a class="menu-toggler" href="javascript:void(0)">
										<i class="icon-bars"></i>
									</a>
								</li>
								<li class="hidden-1200">
									<div class="user">
										<div class="dropdown">
											<button class="dropdown-toggle" data-toggle="dropdown">
												<i class="icon-user"></i>
											</button>

											<div class="dropdown-menu">
												<a class="dropdown-item" href="account-orders.html">
													<svg width="14" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path class="hover-side" d="M13.2533 0.462449C12.9797 0.336381 12.6573 0.385438 12.4335 0.587114L11.2526 1.63272C11.2205 1.66131 11.172 1.66114 11.14 1.63238L9.53327 0.195293C9.24267 -0.0650978 8.80273 -0.0650978 8.51213 0.195293L6.90681 1.63106C6.87452 1.65991 6.82571 1.65991 6.79342 1.63106L5.18793 0.195293C4.89733 -0.0650552 4.45739 -0.0650552 4.16679 0.195293L2.55981 1.63238C2.52765 1.66114 2.47906 1.66127 2.44672 1.63268L1.26475 0.587114C0.951173 0.308257 0.470896 0.336381 0.19204 0.649956C0.0669924 0.790576 -0.00142414 0.972595 2.24804e-05 1.16074V16.8393C-0.00278566 17.2595 0.335638 17.6025 0.755922 17.6053C0.944195 17.6066 1.12621 17.538 1.26688 17.4129L2.44778 16.3673C2.47991 16.3387 2.52837 16.3389 2.56032 16.3676L4.16709 17.8047C4.45769 18.0651 4.89763 18.0651 5.18823 17.8047L6.79372 16.3689C6.82601 16.3401 6.87481 16.3401 6.90711 16.3689L8.5126 17.8047C8.80324 18.0649 9.24314 18.0649 9.53374 17.8047L11.1408 16.3676C11.173 16.3388 11.2216 16.3387 11.2539 16.3673L12.4359 17.4128C12.7496 17.6916 13.2298 17.6632 13.5085 17.3495C13.6334 17.209 13.7017 17.0272 13.7003 16.8393V1.16074C13.7043 0.859546 13.5285 0.584901 13.2533 0.462449Z" fill="#333"></path>
													</svg>My Orders
												</a>
												<a class="dropdown-item" href="javascript:void(0)">
													<svg width="19" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path class="hover-side" fill-rule="evenodd" clip-rule="evenodd" d="M10.5 10.4999C10.5 10.086 10.8353 9.74995 11.25 9.74995C11.6647 9.74995 12 10.086 12 10.4999V13.5C12 14.7405 10.9904 15.75 9.74995 15.75H7.49995V16.5C7.49995 17.3272 6.82732 18 6.00005 18C5.84019 18 5.68803 17.9775 5.53505 17.9302L1.02145 16.4257C0.408005 16.2127 0 15.6404 0 14.9999V1.49991C0 0.672638 0.672775 0 1.50005 0C1.52071 0 1.54067 0.0042733 1.56062 0.00854453C1.57608 0.0118532 1.59153 0.0151607 1.6073 0.0164795C1.61892 0.0149267 1.62986 0.0117845 1.64075 0.0086563C1.65587 0.00431459 1.6709 0 1.6875 0H9.74995C10.9904 0 12 1.00951 12 2.25V4.5C12 4.91391 11.6647 5.24995 11.25 5.24995C10.8353 5.24995 10.5 4.91391 10.5 4.5V2.25C10.5 1.83664 10.164 1.49991 9.74995 1.49991H6.25644L6.4785 1.5742C7.09195 1.7872 7.49995 2.35945 7.49995 2.99995V14.25H9.74995C10.164 14.25 10.5 13.9132 10.5 13.5V10.4999ZM14.7815 3.96976L17.7816 6.96971C18.0747 7.26291 18.0747 7.73697 17.7816 8.03017L14.7815 11.0303C14.5671 11.2446 14.2445 11.3092 13.9641 11.193C13.6843 11.0767 13.5013 10.803 13.5013 10.4999V8.2499H10.5013C10.0873 8.2499 9.75123 7.91399 9.75123 7.49994C9.75123 7.0859 10.0873 6.74999 10.5013 6.74999H13.5013V4.49999C13.5013 4.1969 13.6843 3.92321 13.9641 3.80689C14.2445 3.69071 14.5671 3.75525 14.7815 3.96976Z" fill="#333"></path>
													</svg>Sign Out
												</a>
											</div>
										</div>
									</div>
									<!-- User dropdown-->
								</li>
							</ul>
							<!-- Actions-->
						</div>
					</div>
				</div>

				<div class="search-block">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<form action="#" method="GET">
									<div class="form-group">
										<input class="form-control" type="text" name="search" placeholder="Search something" autocomplete="off">
									</div>

									<button class="close-search-block" type="button">
										<img src="images/icons/times-dark.svg">
									</button>
								</form>
							</div>
						</div>
					</div>

					<div class="search-results" visible-class="active">
						<div class="search-item flex">
							<div class="image">
								<a class="cover-center" href="category-inner.html" style="background-image: url(images/entertainments/image3.jpg)"></a>
							</div>
							<div class="info">
								<h3 class="title">
									<a href="category-inner">Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum</a>
								</h3>
								<div class="flex">
									<div class="location">
										<i class="icon-marker"></i>Baku, Quba
									</div>
									<div class="num-of-persons">
										<i class="icon-user"></i>for 2 persons
									</div>
								</div>
								<div class="price">
									<div class="old">185 AZN</div>
									<div class="current">120 AZN</div>
								</div>
							</div>
						</div>

						<div class="search-item flex">
							<div class="image">
								<a class="cover-center" href="category-inner.html" style="background-image: url(images/entertainments/image3.jpg)"></a>
							</div>
							<div class="info">
								<h3 class="title">
									<a href="category-inner">Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum</a>
								</h3>
								<div class="flex">
									<div class="location">
										<i class="icon-marker"></i>Baku, Quba
									</div>
									<div class="num-of-persons">
										<i class="icon-user"></i>for 2 persons
									</div>
								</div>
								<div class="price">
									<div class="old">185 AZN</div>
									<div class="current">120 AZN</div>
								</div>
							</div>
						</div>

						<div class="search-item flex">
							<div class="image">
								<a class="cover-center" href="category-inner.html" style="background-image: url(images/entertainments/image3.jpg)"></a>
							</div>
							<div class="info">
								<h3 class="title">
									<a href="category-inner">Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum</a>
								</h3>
								<div class="flex">
									<div class="location">
										<i class="icon-marker"></i>Baku, Quba
									</div>
									<div class="num-of-persons">
										<i class="icon-user"></i>for 2 persons
									</div>
								</div>
								<div class="price">
									<div class="old">185 AZN</div>
									<div class="current">120 AZN</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Search results-->
				</div>
				<!-- Search block-->
			</div>
			<!-- Header bottom-->

			<nav class="main-menu hidden-1200">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<ul class="flex">
								<li>
									<a href="category.html">Driving</a>
								</li>
								<li>
									<a href="category.html">Food and drink</a>
								</li>
								<li>
									<a href="category.html">Spa and Beauty</a>
								</li>
								<li>
									<a href="category.html">Days out and Tours</a>
								</li>
								<li>
									<a href="category.html">Flying</a>
								</li>
								<li>
									<a href="category.html">Sport</a>
								</li>
								<li>
									<a href="category.html">Theatre and events</a>
								</li>
								<li>
									<a href="category.html">Arts and crafts</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<!-- Main menu-->

			<nav class="mobile-menu visible-1200">
				<ul class="top-nav">
					<li>
						<a href="account-orders.html">
							<i class="icon-user"></i>My orders
						</a>
						<a href="javascript:void(0)">Sign out</a>
						<!-- If user logged in-->
					</li>
					<li>
						<a href="category.html">Driving</a>
					</li>
					<li>
						<a href="category.html">Food and drink</a>
					</li>
					<li>
						<a href="category.html">Spa and Beauty</a>
					</li>
					<li>
						<a href="category.html">Days out and Tours</a>
					</li>
					<li>
						<a href="category.html">Flying</a>
					</li>
					<li>
						<a href="category.html">Sport</a>
					</li>
					<li>
						<a href="category.html">Theatre and events</a>
					</li>
					<li>
						<a href="category.html">Arts and crafts</a>
					</li>
				</ul>
				<!-- Top nav-->

				<div class="menu-footer flex">
					<ul class="bottom-nav flex">
						<li>
							<a href="about.html">About us</a>
						</li>
						<li>
							<a href="partnership.html">Partnership</a>
						</li>
						<li>
							<a href="contact.html">Contact us</a>
						</li>
						<li>
							<a href="faq.html">Help center</a>
						</li>
					</ul>
					<!-- Bottom nav-->

					<ul class="socials flex">
						<li>
							<a href="#" target="_blank"><i class="icon-facebook"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icon-twitter"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icon-linkedin"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icon-youtube"></i></a>
						</li>
					</ul>

					<div class="copyrights flex">
						<p>© 2020. EUROTOURISM</p>

						<ul class="flex">
							<li>
								<a href="terms.html">Terms & Conditions</a>
							</li>
							<li>
								<a href="privacy.html">Privacy Policy</a>
							</li>
						</ul>
					</div>
					<!-- Copyrights-->
				</div>
				<!-- Menu footer-->
			</nav>
			<!-- Side menu-->
		</header>
		<!-- Header-->

		<div class="content-overlay"></div>
		<!-- For mobiles-->


		<main class="content">
			<div class="breadcrumb-container hidden-767">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<nav>
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="index.html">Home</a>
									</li>
									<li class="breadcrumb-item">Partnership</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Breadcrumbs-->

			<section class="static partnership">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-9">
							<h1 class="block-title">Partnership</h1>

							<div class="editor-body">
								<p>Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.</p>
								<p><strong>The standard Lorem Ipsum passage, used since the 1500s</strong></p>
								<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							</div>

							<div class="divider"></div>

							<div class="contact-form">
								<h2 class="title">Send Us A Message</h2>

								<form action="#" method="POST">
									<div class="form-group">
										<label>Firstname</label>
										<input class="form-control" type="text" required>
									</div>

									<div class="form-group">
										<label>Lastname</label>
										<input class="form-control" type="text" required>
									</div>

									<div class="form-group">
										<label>Mobile number</label>
										<input class="form-control" type="text" required>
									</div>

									<div class="form-group">
										<label>Company name</label>
										<input class="form-control" type="text" required>
									</div>

									<div class="form-group">
										<label>Message</label>
										<textarea class="form-control" rows="7" required></textarea>
									</div>

									<p class="info-text">By creating your account, you agree to our <a href="terms.html">Terms and Conditions</a> & <a href="privacy.html">Privacy Policy</a></p>

									<button class="btn-custom primary">Send us a message</button>
								</form>
							</div>
							<!-- Contact form-->
						</div>
					</div>
				</div>
			</section>
			<!-- Partnership page-->

		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<ul class="flex">
								<li>
									<a href="about.html">About us</a>
								</li>
								<li>
									<a href="partnership.html">Partnership</a>
								</li>
								<li>
									<a href="contact.html">Contact us</a>
								</li>
								<li>
									<a href="faq.html">Help center</a>
								</li>
							</ul>

							<ul class="socials flex">
								<li>
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-linkedin"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-youtube"></i></a>
								</li>
							</ul>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Top-->

			<div class="footer-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p class="copyrights">© 2020. EUROTOURISM</p>

							<ul class="flex">
								<li>
									<a href="terms.html">Terms & Conditions</a>
								</li>
								<li>
									<a href="privacy.html">Privacy Policy</a>
								</li>
							</ul>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer-->

		<script src="js/jquery.js"></script>
		<script src="js/range.min.js"></script>
		<script src="js/starrr.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
