src/pug/pages/register.pug
extends ../layout/simple-layout.pug

block content
    section.auth-page.register
        .logo
            ="\n"
            a(href="index.html")
                ="\n"
                img(src=require("../../images/logo.svg"))
                ="\n"
        |
        |
        .auth-wrapper
            ul.nav.flex
                li.active
                    ="\n"
                    a(href="register.html") Register
                li
                    ="\n"
                    a(href="login.html") Sign in
            |
            |
            .auth-content
                .auth-with-socials.flex
                    h2.auth-title Sign Up with email
                    |
                    |
                    ="\n"
                    a(href="#")
                        ="\n"
                        img(src=require("../../images/icons/auth-google.svg"))
                        | Google
                        ="\n"
                    ="\n"
                    a(href="#")
                        ="\n"
                        img(src=require("../../images/icons/auth-facebook.svg"))
                        | Facebook
                        ="\n"
                    |
                    |
                    p.text-center Signing up with social is super quick. No extra passwords to remember - no brain fail. Don't worry, we'd never share any of your data or post anything on your behalf #notevil
                // Auth With Socials
                |
                |
                .divider
                |
                |
                h2.auth-title Sign Up using your e-mail address
                |
                |
                form(action="#" method="POST")
                    .form-group
                        label E-mail
                        input(type="email" class="form-control" required)
                    |
                    |
                    .form-group
                        label Firstname
                        input(type="text" class="form-control" required)
                    |
                    |
                    .form-group
                        label Lastname
                        input(type="text" class="form-control" required)
                    |
                    |
                    .form-group
                        label Password
                        input(type="password" class="form-control" required)
                    |
                    |
                    .form-group.birth-date
                        label Date of birth
                        select(name="day" class="custom-select" required)
                            option(value hidden) Day
                            option(value="1") 1 
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4 
                            option(value="5") 5 
                            option(value="6") 6 
                            option(value="7") 7 
                            option(value="8") 8 
                            option(value="9") 9 
                            option(value="10") 10 
                            option(value="11") 11
                            option(value="12") 12
                            option(value="13") 13
                            option(value="14") 14
                            option(value="15") 15
                            option(value="16") 16
                            option(value="17") 17
                            option(value="18") 18
                        |
                        |
                        select(name="month" class="custom-select" required)
                            option(value hidden) Month
                            option(value="yan") Yanuary
                            option(value="feb") February
                            option(value="mar") March
                            option(value="apr") April
                            option(value="may") May
                            option(value="june") June
                            option(value="july") July
                        |
                        |
                        select(name="year" class="custom-select" required)
                            option(value hidden) Year
                            option(value="1990") 1990
                            option(value="1991") 1991
                            option(value="1992") 1992
                            option(value="1993") 1993
                            option(value="1994") 1994
                            option(value="1995") 1995
                            option(value="1996") 1996
                            option(value="1997") 1997
                            option(value="1998") 1998
                            option(value="1999") 1999
                            option(value="2000") 2000
                    |
                    |
                    .form-group
                        label Gender
                        .genders.flex
                            .gender
                                input(type="radio" id="male" name="gender" value="male" checked)
                                label(for="male") Male
                            .gender
                                input(type="radio" id="fermale" name="gender" value="fermale")
                                label(for="fermale") Fermale
                    |
                    |
                    p.info-text By creating your account, you agree to our #[a(href="terms.html") Terms and Conditions] & #[a(href="privacy.html") Privacy Policy]
                    |
                    |
                    button(class="btn-custom btn-block primary") Sign Up
                // Form
    // Auth page
    |
    |

dist/register.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Virgin Experience Days</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<ul class="flex hidden-575">
								<li>
									<a href="about.html">About us</a>
								</li>
								<li>
									<a href="partnership.html">Partnership</a>
								</li>
								<li>
									<a href="help-center.html">Contact us</a>
								</li>
								<li>
									<a href="help-center.html">Help</a>
								</li>
							</ul>

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" data-toggle="dropdown">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->
		</header>
		<!-- Header-->


		<main class="content">
			<section class="auth-page register">
				<div class="logo">
					<a href="index.html">
						<img src="images/logo.svg">
					</a>
				</div>

				<div class="auth-wrapper">
					<ul class="nav flex">
						<li class="active">
							<a href="register.html">Register</a>
						</li>
						<li>
							<a href="login.html">Sign in</a>
						</li>
					</ul>

					<div class="auth-content">
						<div class="auth-with-socials flex">
							<h2 class="auth-title">Sign Up with email</h2>

							<a href="#">
								<img src="images/icons/auth-google.svg">Google
							</a>
							<a href="#">
								<img src="images/icons/auth-facebook.svg">Facebook
							</a>

							<p class="text-center">Signing up with social is super quick. No extra passwords to remember - no brain fail. Don't worry, we'd never share any of your data or post anything on your behalf #notevil</p>
						</div>
						<!-- Auth With Socials-->

						<div class="divider"></div>

						<h2 class="auth-title">Sign Up using your e-mail address</h2>

						<form action="#" method="POST">
							<div class="form-group">
								<label>E-mail</label>
								<input class="form-control" type="email" required>
							</div>

							<div class="form-group">
								<label>Firstname</label>
								<input class="form-control" type="text" required>
							</div>

							<div class="form-group">
								<label>Lastname</label>
								<input class="form-control" type="text" required>
							</div>

							<div class="form-group">
								<label>Password</label>
								<input class="form-control" type="password" required>
							</div>

							<div class="form-group birth-date">
								<label>Date of birth</label>
								<select class="custom-select" name="day" required>
									<option value hidden>Day</option>
									<option value="1">1 </option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4 </option>
									<option value="5">5 </option>
									<option value="6">6 </option>
									<option value="7">7 </option>
									<option value="8">8 </option>
									<option value="9">9 </option>
									<option value="10">10 </option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
								</select>

								<select class="custom-select" name="month" required>
									<option value hidden>Month</option>
									<option value="yan">Yanuary</option>
									<option value="feb">February</option>
									<option value="mar">March</option>
									<option value="apr">April</option>
									<option value="may">May</option>
									<option value="june">June</option>
									<option value="july">July</option>
								</select>

								<select class="custom-select" name="year" required>
									<option value hidden>Year</option>
									<option value="1990">1990</option>
									<option value="1991">1991</option>
									<option value="1992">1992</option>
									<option value="1993">1993</option>
									<option value="1994">1994</option>
									<option value="1995">1995</option>
									<option value="1996">1996</option>
									<option value="1997">1997</option>
									<option value="1998">1998</option>
									<option value="1999">1999</option>
									<option value="2000">2000</option>
								</select>
							</div>

							<div class="form-group">
								<label>Gender</label>
								<div class="genders flex">
									<div class="gender">
										<input type="radio" id="male" name="gender" value="male" checked>
										<label for="male">Male</label>
									</div>
									<div class="gender">
										<input type="radio" id="fermale" name="gender" value="fermale">
										<label for="fermale">Fermale</label>
									</div>
								</div>
							</div>

							<p class="info-text">By creating your account, you agree to our <a href="terms.html">Terms and Conditions</a> & <a href="privacy.html">Privacy Policy</a></p>

							<button class="btn-custom btn-block primary">Sign Up</button>
						</form>
						<!-- Form-->
					</div>
				</div>
			</section>
			<!-- Auth page-->

		</main>

		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
